/*--------定义全局样式变量------------*/
/* Colors
---------------------- */
$--color-white: #fff !default;
$--color-danger: #FF6B71 !default;

/* Colors
---------------------- */
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;
